
.DS_Store
Thumbs.db
*.swp
*.swo

.vscode/
.idea/
*.iml

*.log
*.tmp
*.bak
*.pid


envs/
gaussian_splatting/ 


__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

.ipynb_checkpoints/

*.pth              
*.h5
*.ply
*.npy     
*.bin 
*.npz
result_openGaussian/scannet/scene0200_00/train_process       

data/
*.csv.gz
*.npy


*/build/
*/__pycache__/

